body{
    background-color: #f8f8f8;
}

.admin-top-nav{
    background-color: var(--admin-top-nav-color);
    min-height: 75px;
}
.admin-left-nav{
    position: fixed;
    width: 250px;
    height: 100%;
    padding: 20px 0px;
    z-index: 1;
    background-color: white;
}

.admin-left-nav h2{
    font-size: 22px;
}
.admin-left-nav>div{
    z-index: 1;
}
#left-nav-expand-btn{
    display: none;
    font-size: 22px;

    color: white;
}
#left-nav-expand-btn:hover{
    cursor: pointer;
    user-select: none;
}

.content-section button{
    width: 150px !important;
}

#log{
    width: 100%;
    height: 350px;
    border: 1px solid #b1b1b1;
    padding: 5px;

    overflow-y: scroll;
}

.log-type-filter span{
    width: 125px;
}

/*#region Control panel*/
.admin-control-panel li:first-child a{
    /*border-top: 1px solid black;*/
}
.admin-control-panel a {
    display: flex;
    align-items: center;
    padding: 15px;
    color: black;

    /*border-bottom: 1px solid black;*/
}
.admin-control-panel a:hover{
    text-decoration: none;
    background-color: var(--yellow-primary);
    color: white;
}
.admin-control-panel i {
    font-size:18px;
    margin-right: 10px;
}
/*#endregion*/

/*#region MEDIA QUERIES*/
@media screen and (max-width: 780px){
    #left-nav-expand-btn{
        display: inline-block;
    }
    .admin-left-nav{
        left: -250px;
    }
    .admin-page-content{
        padding-left: 0px !important;
    }
    .logo{
        display: none;
    }
}

/*@media screen and (max-width: 390px){
    .logo{
        display: none;
    }

    .admin-top-nav>div{
        justify-content: flex-end !important;
    }
}*/
/*#endregion*/
