.sub-filter h4{
    font-size: 18px;
    margin-bottom: 15px;
}

.sub-filter ul{
    padding-left: 15px;
    list-style-type: none;
}

.sub-filter ul li label{
    padding-left: 5px;
}

/*.cf-custom-checkbox .custom-control-input:checked~.custom-control-label::before{*/
/*    background-color: yellow;*/
/*}*/


/*#region cf-checkbox*/
.cf-checkbox div{
    position: relative;
}
    /*LABEL*/
.cf-checkbox label {
    margin-bottom: 5px !important;
    user-select: none;
}
.cf-checkbox label:hover {
    cursor: pointer;
}
    /*CHECKBOX INPUT*/
.cf-checkbox div input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.cf-checkbox div input:hover {
    cursor: pointer;
}
.cf-checkbox div input:checked~.cf-checked{
    display: inline-block;
}
.cf-checkbox div input:checked~.cf-unchecked{
    display: none;
}

.cf-checkbox div input:not(:checked)~.cf-checked{
    display: none;
}
.cf-checkbox div input:not(:checked)~.cf-unchecked{
    display: inline-block;
}

.cf-checkbox div input:not(:checked)~.cf-unchecked{
    display: inline-block;
}
    /*CHECKED*/
.cf-checkbox .cf-checked{
    display: none;
    color: var(--checkbox-color);
}
.cf-checkbox .cf-checked:hover{
    user-select: none;
    cursor: pointer;
}
    /*UNCHECKED*/
.cf-checkbox .cf-unchecked{
    display: inline-block;
    color: black;
}
.cf-checkbox .cf-checked:hover{
    user-select: none;
    cursor: pointer;
}
/*#endregion*/
