.sub-filter h4{
    font-size: 18px;
    margin-bottom: 15px;
}

.sub-filter ul{
    padding-left: 15px;
    list-style-type: none;
}

.sub-filter ul li label{
    padding-left: 5px;
}

/*.cf-custom-checkbox .custom-control-input:checked~.custom-control-label::before{*/
/*    background-color: yellow;*/
/*}*/

