.intro-slider-title{
    position: absolute;
    top: 25px;
    left: 0px;
    padding: 10px;
    padding-left: 40px;
    font-size: 28px;

    z-index: 1;

    color:white;

    background-color: var(--yellow-primary);

    /*font-size: 36px;
    margin-top: 15px;*/
}
