:root{
    --yellow-primary: #F5BC04;
    --link-color: black;
    --link-hover-color: var(--yellow-primary);
    --link-color-light: white;
    --language-tag-attached-color: white;
    --account-bar-color: black;
    --text-color-on-dark: white;
    --success-msg-color: #00b800;
    --error-msg-color: #d00000;

    /*Inputs*/
    --search-border-color: var(--yellow-primary);
    --button-color: var(--yellow-primary);
    --checkbox-color: var(--yellow-primary);
    --input-border-color: var(--yellow-primary);
    --text-area-color: rgba(0, 0, 0, 0.15);
    --text-area-hover-color: var(--yellow-primary);
    --select-text-color: #696969;

    /*Socials*/
    --facebook-color: #1773EA;
    --twitter-color: #1C9CEA;
    --instagram-color: #F73281;
    --youtube-color: #F70000;
    --twitch-color: #8C45F7;

    /*Admin*/
    --admin-top-nav-color: black;
    --admin-left-nav-color: #fdfdfd;
}

ul{
    list-style-type: none;
}

.text-on-dark{
    color: var(--text-color-on-dark);
}

.profile-img{
    width: 40px;

}
.profile{
    margin-left: 20px;
}

.logo-footer{
    width: 250px;
}

#search-input{
    display:none;
}
.search-input{
    border-radius: 200px;
    padding-left: 15px;
}
.search-input:focus{
    border-color: var(--search-border-color);
}
.search-input::placeholder{
    opacity: 0.5;
}


#search-input-on-navbar{
    display: none;
}

.language-tag-attached{
    position: absolute;

    top: 20px;
    left: 0px;
    padding: 5px;
    padding-left: 40px;

    background-color: dodgerblue;
    color: var(--language-tag-attached-color);
}

.latest-youtube-video img{
    width: 100%;
}

.account-bar{
    padding: 10px;
    /*padding-right: 50px;*/
    background-color: var(--account-bar-color);
}

.success-msg{
    color: var(--success-msg-color);
}

.error-msg-list{
    list-style-type: circle;
    color: var(--error-msg-color);
}
.error-msg{
    color: var(--error-msg-color);
}

/*#region Admin panel btn*/
.admin-panel-link{
    display: flex;
    align-items: center;
    color: var(--link-color-light);
}
.admin-panel-link:hover{
    text-decoration: none;
    color: var(--yellow-primary);
}
.admin-panel-link:focus{
    color: var(--yellow-primary);
    text-decoration: none;
}
.admin-panel-link span{
    margin-right: 15px;
}
.admin-panel-icon{
    font-size: 24px;
}
/*#endregion*/

/*#region Social icons*/

#socialLinks li{
    margin: 0px 10px;
}

.social-icon{
    font-size: 32px;
}

.facebook-icon{
    color: var(--facebook-color);
}
.facebook-icon:hover {
    filter: brightness(110%);
}

.twitter-icon{
    color: var(--twitter-color);
}
.twitter-icon:hover {
    filter: brightness(110%);
}

.instagram-icon{
    color: var(--instagram-color);
}
.instagram-icon:hover {
    filter: brightness(110%);
}

.youtube-icon{
    color: var(--youtube-color);
}
.youtube-icon:hover {
    filter: brightness(110%);
}

.twitch-icon{
    color: var(--twitch-color);
}
.twitch-icon:hover {
    filter: brightness(110%);
}
/*#endregion*/

/*#region CF CLASSES*/

.cf-text-medium{
    font-size: 22px;
}

.cf-link{
    color: var(--link-color);
}
.cf-link:hover{
    color: var(--link-hover-color);
}

/*#region CF INPUTS*/
.cf-input:focus{
    border-color: var(--input-border-color);
}

.cf-button{
    background-color: var(--button-color);
    border: 0px solid white;
    border-radius: 200px;

    padding: 10px;

    color: black;
    text-align: center;
}
.cf-button:hover{
    color: black;
    text-decoration: none;
    filter: brightness(110%);

    cursor:pointer;
}
.cf-button:focus{
    color: black;
    text-decoration: none;
    outline: none;
}

.cf-button-small{
    padding: 5px;
    min-width: 75px;
    max-height: 30px;
    font-size: 12px;
}

.cf-text-area{
    border: 1px solid var(--text-area-color);
    padding: 10px;
}
.cf-text-area:focus{
    border: 1px solid var(--text-area-hover-color);
    outline: none;
}
.cf-text-area::placeholder{
    font-size: 16px;
}

.cf-select{
    color: var(--select-text-color);
    padding-left: 10px;
}

/*#region cf-checkbox*/
.cf-checkbox div{
    position: relative;
}
/*LABEL*/
.cf-checkbox label {
    margin-bottom: 5px !important;
    user-select: none;
}
.cf-checkbox label:hover {
    cursor: pointer;
}
/*CHECKBOX INPUT*/
.cf-checkbox div input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.cf-checkbox div input:hover {
    cursor: pointer;
}
.cf-checkbox div input:checked~.cf-checked{
    display: inline-block;
}
.cf-checkbox div input:checked~.cf-unchecked{
    display: none;
}

.cf-checkbox div input:not(:checked)~.cf-checked{
    display: none;
}
.cf-checkbox div input:not(:checked)~.cf-unchecked{
    display: inline-block;
}

.cf-checkbox div input:not(:checked)~.cf-unchecked{
    display: inline-block;
}
/*CHECKED*/
.cf-checkbox .cf-checked{
    display: none;
    color: var(--checkbox-color);
}
.cf-checkbox .cf-checked:hover{
    user-select: none;
    cursor: pointer;
}
/*UNCHECKED*/
.cf-checkbox .cf-unchecked{
    display: inline-block;
    color: black;
}
.cf-checkbox .cf-checked:hover{
    user-select: none;
    cursor: pointer;
}
/*#endregion*/

/*#endregion*/

/*#endregion*/

/*#region MEDIA QUERIES*/
@media screen and (max-width: 991px){
    .logo-footer-container{
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px){
    .logo-footer-container{
        margin-top: 100px;
    }


}

@media screen and (max-width: 500px){
    .logo-footer-container{
        margin-top: 150px;
    }
}

@media screen and (max-width: 444px){
    .logo-footer-container{
        margin-top: 150px;
    }
}

@media screen and (max-width: 350px){
    .logo-footer-container{
        margin-top: 250px;
    }
}

/*#endregion*/

/*#region Bootstrap extensions*/
.position-fixed{
    position: fixed;
}
.position-relative{
    position: relative;
}
/*#endregion*/
